.star {
    color: red;
    /* Set the color of the asterisk to red */
}

/* Header Styles */
header {
    padding: 20px;
    background-color: #fff!important;
    box-shadow: 0 4px 15px #eceef5, 0 0 25px rgba(0,0,0,.1);
    z-index: 1000;
    width: 100%;
}

.headercontainer {
    /* background-color: transparent; */
    font-size: 2.5vh;
    width: 100%;
    max-height: 500px;
    height: 3.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    font-family: Poppins, sans-serif;
}

.Header {
    display: flex;
    align-items: center;

}

header img {
    max-width: 8vw;
    height: 4.5vh;

}



#header-title.image-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.Logout a {
    text-decoration: none;
    color: rgba(40, 6, 6, 0.782);
    font-size: 16px;
}

.Logout ul {
    list-style: none;
    padding: 10px;
    font-size: 2.5vh;
    display: flex;
    align-items: baseline;
    font-weight: 400;

}

.Logout li {
    margin-right: 20px;
}

.Logout li a {
    display: inline-block;
    cursor: pointer;
    color: rgba(40, 6, 6, 0.46);
    padding: 2px;
    font-family: segoe UI !important;
    text-decoration: none;
    /* font-size: 20px; */
}






.currentpage {
    color: rgba(40, 6, 6, 0.922) !important;
    border-bottom: 2px solid #f0321dd2 !important;
    border-radius: 0 !important;
    align-items: baseline !important;
}

.Logout a:hover {
    color: black !important; 
    background-color: #81818121 !important;
    transform: scale(1.1) !important;
    border-radius: 8px !important; 
    transition: background-color 0.1s ease, color 0.3s ease, transform 0.3s ease !important;
    text-decoration: none !important;
    /* Remove default underline on hover */
}

@media screen and (max-width:1050px) {
    header {
        font-size: 4vw;
        /* padding: 0px; */
        /* right:10px; */
    }

    header img {
        max-width: 20vw;
    }

    .Header-title {
        font-size: 4.2vw;
    }

    .btn {
        padding: 0.75rem;
        width: 100%;
    }

    .Logout button {
        font-size: 4vw;
        padding: 0%;
        margin-left: 10px;
    }

    .Logout ul {
        padding: 0px;
        font-size: 0.8vw;
        margin: 0;
    }

    .Logout li {

        margin: 1vw;
    }



    .Header-title button {
        font-size: 4vw;
    }


}

@media screen and (max-width: 768px) {



    .Logout a {
        font-size: 10px;
        padding: 0;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    h6 {
        margin: 15px;
        font-size: 12px;
    }

    .footer-social ul {
        margin: 0;
    }
    footer li {
        margin: 5px;
        font-size: 12px;
    }

    footer li a {
        font-size: 12px;
    }
    h6::after {
        left: 50%; /* Move the line to the middle of the h6 element */
        transform: translateX(-50%); /* Center the line horizontally */
        bottom: 0;
        width: 40%;
    }


}





