<footer class="footer">
    <div class="footer-container">
        <div class="footer-home">
            <h6>Home</h6>
            <ul>
                <li><a href="../ERROR Page/Error.html">LMX Registry</a></li>
                <li><a href="../ERROR Page/Error.html">LMX Deals</a></li>
                <li><a href="../ERROR Page/Error.html">Mobile Integration</a></li>
                <li><a href="../ERROR Page/Error.html">Self-Serve</a></li>
            </ul>
        </div>
        <div class="footer-service">
            <h6>Services</h6>
            <ul>
                <li><a routerLink="/calculator">Calculation</a></li>
                <li><a routerLink="/weather">Weather</a></li>
                <li><a routerLink="/registration">Registration</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h6>Social Media</h6>
            <ul>
                <li><a href="https://www.facebook.com/movingwalls/" class="media" id="facebook-icon" target="_blank">
                        <img src="assets/picture/facebook.png" alt="Facebook">
                    </a></li>
                <li><a href="https://twitter.com/movingwalls" class="media" id="twitter">
                        <img src="assets/picture/twitter.png" alt="Twitter">
                    </a></li>
                <li><a href="https://www.instagram.com/mymovingwalls/" class="media" id="instagram">
                        <img src="assets/picture/instagram.png" alt="Instagram">
                    </a></li>
                <li><a href="https://www.linkedin.com/company/moving-walls" class="media" id="linkedin">
                        <img src="assets/picture/linkedin.png" alt="LinkedIn">
                    </a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h6>Contact Us</h6>
            <ul>
                <li>
                    <i class="fas fa-phone"></i> 03-7610 2044
                </li>
                <li>
                    <i class="far fa-envelope"></i> gui@movingwalls.com
                </li>
                <li>
                    <i class="fas fa-map-marker-alt"></i> L5-E-8, Level 5, Enterprise 4, Technology Park Malaysia,
                    Bukit Jalil 57000 Kuala Lumpur
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2023 LMX-MovingWalls. All rights reserved.</p>
    </div>
</footer>