
.star {
    color: red;
    /* Set the color of the asterisk to red */
}


/* Header Styles */
header {
    padding: 20px;
    background-color: #fff!important;
    box-shadow: 0 4px 15px #eceef5, 0 0 25px rgba(0,0,0,.1);
    z-index: 1000;
    width: 100%;
}

.headercontainer {
    /* background-color: transparent; */
    font-size: 2.5vh;
    width: 100%;
    max-height: 500px;
    height: 3.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    font-family: Poppins, sans-serif;
}

.Header {
    display: flex;
    align-items: center;

}

header img {
    max-width: 8vw;
    height: 4.5vh;

}



#header-title.image-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.Logout a {
    text-decoration: none;
    color: rgba(40, 6, 6, 0.782);
    font-size: 16px;
}

.Logout ul {
    list-style: none;
    padding: 10px;
    font-size: 2.5vh;
    display: flex;
    align-items: baseline;
    font-weight: 400;

}

.Logout li {
    margin-right: 20px;
}

.Logout li a {
    display: inline-block;
    cursor: pointer;
    color: rgba(40, 6, 6, 0.46);
    padding: 2px;
    font-family: segoe UI !important;
    text-decoration: none;
    /* font-size: 20px; */
}






ul li.currentpage a {
    color: rgba(40, 6, 6, 0.922);
    border-bottom: 2px solid #f0321dd2;
    border-radius: 0;
    align-items: baseline;
}

.Logout ul li a:hover {
    color: black;
    background-color: #81818121;
    transform: scale(1.1);
    border-radius: 8px;
    transition: background-color 0.1s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    /* Remove default underline on hover */
}

.container{
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-color: #f8f9fe;
    background-repeat: repeat;
    background-size: cover;
}

/* Global Stylings */
label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}


input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.input-group {
    margin: 0.5rem 0;
    width: 100%;
}

.input-group input {
    border: 3px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-group input:focus {
    outline: 0;
}

.input-group.success input {
    border-color: #09c372;
}

.input-group.error input {
    border-color: #ff3860;
}

.input-group .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

#sameAsCompany {
    width: 50%;
    transform: scale(1.5);
}

label[for="sameAsCompany"] {
    display: flex;
    align-items: center;
}

.form-select .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}


.text-center {
    text-align: center;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 2rem 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: rgba(240, 238, 238, 0.541);
    z-index: -1;
}

.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
    color:white;
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    /* color: #d93d4a; */
}

.progress-step-active {
    background-color: var(--primary-color);
    color: #d93d4a;
}

/* Form */
.form {

    width: clamp(750px, 30%, 1000px);
    margin: 5rem 0 10rem;
    border: 2px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
    background-color: #fff;
    z-index: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-content: start;
}

.form-step-active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-content: start;
}



@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

/* Button */
.btns-group {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.Next {
    justify-content: end;
}

.btn {
    padding: 0.75rem;
    width: 200px;
    display: inline-block;
    align-items: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

h1 {
    font-size: 20px;
    color: #d93d4a;
}

h6 {
    font-size: 16px;
    margin: 25px;
    margin-left: 0;
    position: relative;
}

h6::after {
    content: "";
    display: block;
    width: 80%;
    /* Adjust the width to control the underline length */
    height: 1px;
    /* Set the thickness of the underline */
    background-color: #f0321dd2;
    /* Change the color of the underline */
    position: absolute;
    bottom: 0;
    left: 0;
}




.footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    position: static;
    bottom: 0;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
}

.footer-container>* {
    flex: 1;


}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin: 10px;
    margin-left: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: red;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 15px;

}

.footer-social ul li a img {
    width: 37px;
    height: 37px;
}



.footer-bottom p {
    text-align: center;
    font-size: 8px;
}



@media screen and (max-width:1050px) {


    .btn {
        padding: 0.75rem;
        width: 100%;
    }




    .Header-title button {
        font-size: 4vw;
    }

    form {

        padding: 1.5rem;
        max-width: 750px;
    }

}

@media screen and (max-width: 768px) {
    form {
        margin: 0;
        border: 1px solid #ccc;
        border-radius: 0.35rem;
        padding: 1.5rem;
        max-width: calc(100% / 1.2 - 15px);
    }

    form .form-step-active {
        /* width: calc(100% / 2 - 15px); */
        display: block;
    }

    .form ::-webkit-scrollbar {
        display: none;
    }

    .progress-step::after {
        content: attr(data-title);
        display: none;
    }

   
    h6 {
        margin: 15px;
        font-size: 12px;
    }

   
    h6::after {
        left: 50%; /* Move the line to the middle of the h6 element */
        transform: translateX(-50%); /* Center the line horizontally */
        bottom: 0;
        width: 40%;
    }


}






@media screen and (min-width: 1520px) {
    /* *{ */
    /* overflow: hidden; */
    /* } */
}