



.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 101vh;
    background-image: url("/Project-Work-MW/assets/picture/lmx-background2.png");
    /* background-image: url(./smallsize-background.png); */
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.left-section {
    flex: 1;
    position: relative;
    height: 100%;
    padding: 0 5% 10% 5%; /* Adjusted padding */
    float: left;
    width: 59%;
    box-sizing: border-box;
    display: flex; /* Use Flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Center horizontally */
    color: #fff;
}

.left-section h1,
.left-section h2 {
    text-align: left;
}

.right-section {
    width: 40%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding-bottom: 0px;
}

.right-section h1 {
    color: #1f5aa6;
}

.Intro {
    width: auto;
    height: auto;
    text-align: left;
    font-family: Poppins, sans-serif;
}

.Intro h1 {
    text-align: left;
    color: #d93d4a;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 50px;
}

.Intro2 h2 {
    text-align: left;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 35px;

}


.right-section #Loo,
.right-section #Explore {
    cursor: pointer;
    position: relative;
    width: 120px;
    color: #fff;
    padding: 5px 20px !important;
    border-radius: 35px;
    text-transform: none;
    background-color: #2e68ff;
    background-image: linear-gradient(to right, #3565a9, #5294cc);
    letter-spacing: .025em;
    font-size: 13px;
    border-color: #2e68ff;
    border-width: 0.5px;
    will-change: transform;
    font-weight: 400;
    float: left;
    text-align: center;
    line-height: 1.5;
}


.Rightcard #Explore {
    float: right;
}

.Rightcard #srcb {
    float: left;
    right: 10px;
    position: relative;
}



.Rightcard {
    width: 60%;
    min-width: 400px;
    max-width: 400px;
    box-sizing: border-box;
    /* padding: 20px; */
    
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loginform {
    padding: 20px;
}

.Rightcard #Explore:hover,
.Rightcard #Loo:hover {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    transform: translateY(-1px);
}



.Login #usernameerror,
.Login #passworderror {
    position: absolute;
    width: 100%;
    margin-top: 0.15rem;
    font-size: 60%;
    color: #fb6340;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0;
    display: none;
}

.Login #logo {
    width: 84px;
    height: 40px;
}

.Login h1 {
    font-size: 18px;
    color: #1f5aa6 !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.input-label {
    font-size: 14px !important;
    color: #1f5aa6 !important;
    line-height: 1.07143;
    margin: 16px 0 2px;
    font-weight: 300;
    letter-spacing: .02rem;
}

.input-wrapper {
    height: 25px;
    width: auto;
}

.right-section .input-icon {
    vertical-align: middle;
    border-style: none;
    width: 19px;
    height: 19px;
}



.right-section .underlined-input {
    border: 0;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 300;
    border-bottom: 1px solid rgba(54, 103, 170, .2);
    height: 25px;
    padding: 0px 0;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
    float: right;
    width: 90%;
    font-family: Poppins, sans-serif !important;
}

.underlined-input:focus {
    outline: none !important;
}


.required {
    display: block;
    position: absolute;
}

.right-section .remember label,
.right-section .forget a {
    color: #d93d4a !important;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0;
}

.right-section .forget a {
    color: #1f5aa6 !important;
    text-decoration: none;
}

.forget a:hover {
    color: red !important;
}


.right-section .Social {
    background-color: black;
    height: 20%;
    width: 100%;
    text-align: center;
    border-radius: 0% 0% 10px 10px !important;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
}

.Follow {
    width: auto;
    height: 40px;
}

h5 {
    font-size: 14px;
    text-align: center;
    margin: 0%;
    position: relative;
    top: 10px;
    color: #fff;
    letter-spacing: .1px;
    font-weight: 400;
}

.Media {
    width: auto;
    height: 58px;
    position: relative;
}


.media img {
    width: 37px;
    height: 37px;
    margin: 0 10px 0;
    /* padding: 0% 5px; */
    position: relative;
    top: 2px;

}


.bot-button {
    background-size: 70px 70px;
    background-repeat: repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
    /* background-position: center; */
    display: block;
    z-index: 2;
    float: none !important;
    background-image: url("https://s3-ap-south-1.amazonaws.com:443/bot-bkt/prod/18578/18578-pngfuel.com.png")
}


@media screen and (max-width: 1100px) {


    .left-section {
        /* top: 10%; */
        width: 50%;
        flex: 1;
        position: relative;
        height: 100%;
        box-sizing: border-box;
    }

    .right-section {
        width: 60%;
    }
    .Rightcard{
        width: 100%;
    }

    .Intro h1 {
        text-align: left;
        color: #d93d4a;
        font-size: 2.0rem;
        font-weight: bold;
        line-height: 40px;
    }

    .Intro2 h2 {
        text-align: left;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 200;
        line-height: 30px;

    }
}






@media screen and (max-width: 760px)  {


    .container {
        flex-direction: column;
        display: block;
        
    }

    .left-section {
        width: 100%;
        height: 400px; /* Adjust height to fit content */
        padding-top: 20px; 
        padding-left: 0px;
        text-align: left; /* Center align text */
        justify-content: center;
    }

    .Intro h1 {
        font-size: 38px;
        font-weight: bold;
        line-height: normal;
        margin: 0; 
    }

    .Intro2 h2 {
        font-size: 24px;
        font-weight: normal;
        line-height: normal;
        margin: 0; 
    }

    .right-section {
        width: 100%;
        padding: 20px; /* Add padding for spacing */
        /* display: block; */
    }
    .form
    .right-section .Social {
        height: auto;
        /* Let it grow to fit content */
        border-radius: 0;
        /* Remove rounded corners */
    }

    .Rightcard {
        width: 100%;
        /* Expand to full width */
        max-width: 500px;
        /* Remove the max-width limitation */
    }
}



@media screen and (max-width:600px) {



    .container {
        flex-direction: column;
        /* Stack elements vertically */
    }


    .left-section {
        display: none;
    }

    .right-section {
        /* width: 120%; */
        /* Expand to full width */
        height: 100%;
        padding: 10% 5% 5% 5%;
        align-items: center;
        display: flex;
        /* left: 0%; */
    }

    .Rightcard{
        min-width: 350px !important;     
 
    }

    .media img {
        width: 28px;
        height: 28px;
        margin: 0 10px 0;
        /* padding: 0% 5px; */
        position: relative;
        top: 2px;

    }

}

@media screen and (max-width:300px) {



    .right-section {
        width: 140%;
        /* Expand to full width */
        height: 100%;
        /* padding: 10% 5% 5% 5%; */
        /* Adjust padding for top and bottom */
        align-items: center;
        display: flex;
    }

    .media img {
        width: 17px;
        height: 17px;
        margin: 0 10px 0;
        /* padding: 0% 5px; */
        position: relative;
        top: 2px;

    }


}

@media screen and (min-width: 1400px) {
    * {
        overflow: hidden;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        background-image: url("/assets/picture/medium-background.png") !important;
        
    }
}

@media screen and (max-width: 760px)  {

    .container {
        overflow-y: scroll;
        background-image: url("/assets/picture/black.png") !important;


    }
}

@media screen and (max-width:600px) {

    .container {
        /* background-image: none; */
        background-image: url("/assets/picture/smallsize-background.png") !important;

    }
}